@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600;700;900&display=swap');


body{
	padding: 0;
	margin: 0;
	background: #fff;
	font-family: 'Source Sans Pro', sans-serif;
}

p{
	color: #898989;
}

.container{
	width: 960px;
	margin: 0 auto;
}
header{
	background: #fcdb00;
	height: 100vh;
}

header p{
	color: #000000;
}

.header-top{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding-top: 60px;
	
}


.header-top__menu{
	position: relative;
}


/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: absolute;
  top: 15px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #000;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

/* контейнер меню */
.menu__list {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__list {
  visibility: visible;
  left: 0;
}

.header-top__logo{
	text-align: center;
	display: grid;
    grid-template-columns: 45px 103px;
    align-self: center;
    justify-self: center;
}
.header-top__logo span{
	font-size: 30px;
	font-weight: normal;
}
.header-top__logo img{
	width: 44px;
	height: 43px;
}


.header-top__social ul{
	display: grid;
	grid-template-columns: repeat(3, 25px);
	grid-gap: 15px;
	justify-content: end;
}
.header-top__social ul li{
	list-style-type: none;
}

.header-top__social ul li:hover{
	animation: flip;
	animation-duration: 1s;
}

.header-top__social img{
	width: 20px;
	height: 20px;
}

.header__info{
	width: 60%;
	margin: 0 auto;
	text-align: center;
	margin-top: 18vh;
	/*margin-bottom: 180px;*/

}

.header__info h1{
	font-size: 48px;
	font-weight: bold;
	line-height: 40px;
	margin-bottom: 25px;

}

.header__info p{
  font-size: 20px;
  line-height: 23px;
  padding-bottom: 40px;
}

.header__info a.butt{
	color: #000;
	font-weight: bold;
	font-size: 22px;
	padding: 15px 70px;
	text-decoration: none;
	border: 3px solid #000;
}

.header__button:hover{
	animation:jello;
	animation-duration: 2s;
	display: block;
}

.header__arrow{
	text-align: center;
	display: block;
    margin-top: 17vh;
    
}



h2.title{
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	padding-top: 30px;
	margin: 0;
}

p.description{
	width: 65%;
	display: block;
	margin: 0 auto;
	text-align: center;
}

ul.services__desc{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 90px;
	grid-column-gap: 50px;
	grid-row-gap: 80px;
	padding: 0;
}

ul.services__desc li{
	list-style-type: none;
	display: grid;
	grid-template-columns: 35px;
	grid-template-rows: 34px;
	grid-column-gap: 35px;
	grid-row-gap: 15px;

}

ul.services__desc li img{
	width: 35px;
	height:34px;
	grid-area: 1 / 1 / 3 / 2;

}

ul.services__desc li h3{
	 grid-area: 1 / 2 / 2 / 3;
	 margin: 0;
	 padding-top: 5px;
}

ul.services__desc li p.text_desc{
	 grid-area: 2 / 2 / 3 / 3;
	 margin: 0;
	 padding: 0;

}


.services h2.title,
.ourwork h2.title,
.contact h2.title
{
	padding-top: 150px;
	padding-bottom: 20px;
}

.ourwork ul{

  display: grid;
	grid-template-columns: repeat(4, 1fr);
	text-align: center;
	grid-gap:  60px 20px ;
	margin: 0;
	padding: 0;
	margin-top: 75px;
}

.ourwork ul li{
	list-style-type: none;
}

.ourwork ul li img{
	width: 220px;
	height: 220px;
}


.ourwork ul li h3{
	margin-top: 20px;
	margin-bottom: 10px;
}

.ourwork ul li p{
	margin: 0;
}


.contact{

}
.contact ul{
  display: grid;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
	margin: 0;
	padding: 0;
	margin-top:55px;
}

.contact ul li{
	list-style-type: none;
}

.contact ul li h3{
	margin-top: 25px;
	margin-bottom: 10px;
}

.contact ul li p{
	padding: 0;
	margin: 0;
}



footer{
	background: #fcdb00;
	color: #000000;
	text-align: center;
	padding-top: 10px;	
	padding-bottom: 10px;	
	font-size: 16px;	
	margin-top: 70px;	
	font-weight: bold;
}

.form{
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	margin-top: 60px;
}

.form input{
	width: 30%;
	margin: 15px auto;
	padding: 15px;
	border: 3px solid #000000;
}

.form button{
	  width: 33.7%;
    margin: 10px auto;
    padding: 15px;
    border: 3px solid #000;
    background: #000000;
	  color: #fff;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}

.form button:hover{
	  color: #fcdb00;
}